.header {
  position: relative;
  display: flex;
  align-items: center;

  overflow: hidden;

  padding: 4rem 8.75rem;
  padding-top: 11rem;

  &__background {
    &-wrapper {
      position: absolute;
      top: -50%;
      left: -15%;

      z-index: -10;
    }
  }

  &__decoration {
    position: relative;
    margin-left: auto;
  }

  &__heading {
    color: #fff;
    font-family: "Nunito", sans-serif;
  }

  &__paragraph {
    margin-top: 1.75rem;

    width: 37.5rem;

    color: #fff;
    font-family: "Open Sans", sans-serif;
  }

  &__contact {
    font-family: "Open Sans", sans-serif;

    display: flex;
    align-items: center;

    margin-top: 2.5rem;
  }

  &__button {
    margin-right: 2.125rem;
    padding: 1.5rem 2.25rem;

    background-color: #4487ff;
    border-radius: 2.375rem;
    box-shadow: 0px 3px 12px rgba(43, 29, 173, 0.45);

    font-size: 1.25rem;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  &__call {
    color: #fff;
    font-size: 1.25rem;
  }
}
