.services {
  &__background {
    position: absolute;
    top: 0;
    left: -30%;

    z-index: -10;
  }

  &__heading {
    margin-bottom: 2.5rem;

    font-family: "Comfortaa", cursive;
    color: #ff6752;
  }

  &__cta {
    margin-top: 1.5rem;
  }
}

.services__options {
  display: grid;
  grid-template-columns: repeat(2, 15.625rem);
  grid-template-rows: repeat(2, 15.625rem);
  grid-gap: 2.375rem;

  margin-left: auto;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.375rem;
  }

  &-image {
    height: 100%;
    &-wrapper {
      width: 5rem;
      height: 5rem;
    }
  }

  &-description {
    margin-top: 2.75rem;

    font-family: "Comfortaa", cursive;
    color: #707070;
  }
}
