// font-family: 'Comfortaa', cursive;
// font-family: 'Nunito', sans-serif;
// font-family: 'Open Sans', sans-serif;

.heading {
  font-size: 5.25rem;
  font-weight: 700;

  &--medium {
    font-size: 3rem;
  }

  &--small {
    font-size: 2rem;
  }

  &--tiny {
    font-size: 1.5rem;
  }

  &--slim {
    font-weight: normal;
  }
}

.paragraph {
  font-size: 1.5rem;
  line-height: 1.375em;

  &--small {
    font-size: 1.125rem;
  }

  &--big {
    font-size: 2rem;
  }
}
